:root {
  --green-1: #8bb842;
  --green-2: #459c28;
  --green-3: #14783c;

  --tile-size: 5rem;
  --min-tile-size: 2rem;
}

body {
  margin: 0;
  background-color: var(--green-2);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: var(--green-3);
  color: white;
  border: 2px solid var(--green-3);
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover {
  outline: 2px solid white;
}

button:disabled {
  cursor: not-allowed;
}

select {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--green-3);
  color: white;
  border: none;
  padding: 0.25rem 1rem;
}

select:hover {
  outline: 2px solid white;
}

input {
  width: 3rem;
  padding: 0.25rem;
  text-align: right;
  background-color: transparent;
  border: 1px solid var(--green-3);
}

input:hover {
  outline: 2px solid white;
}

#minefield-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#minefield-container.scroll-x {
  justify-content: flex-start;
}

#minefield-container.scroll-y {
  align-items: flex-start;
}

#minefield {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0.25rem;
  border: 0.5rem solid var(--green-3);
  margin: 2rem;
}

#side-panel {
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 16rem;
  padding: 2rem;
  background-color: var(--green-1);
  border-left: 0.5rem solid var(--green-3);
  overflow-y: scroll;
}

#timer {
  font-family: monospace;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: var(--green-1);
  border: 0.5rem solid var(--green-3);
}

#new-game-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--green-3);
}

#new-game-section label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#new-game-mobile-button {
  display: none;
}

.tile-line {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: var(--tile-size);
  min-height: var(--min-tile-size);
}

.tile {
  position: relative;
}

.tile img {
  width: var(--tile-size);
  min-width: var(--min-tile-size);
  height: var(--tile-size);
  min-height: var(--min-tile-size);
  image-rendering: pixelated;
}

.tile.can-dig {
  cursor: pointer;
}

.tile.can-dig:hover {
  z-index: 1;
  outline: 2px solid white;
}

.game-over .tile.can-dig {
  cursor: unset;
}

.game-over .tile.can-dig:hover {
  z-index: unset;
  outline: none;
}

.dig-popup {
  cursor: auto;
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: calc(var(--tile-size) / 2);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 0;
  border: 0.5rem solid var(--green-2);
  background-color: #fff;
  box-shadow: 0 0 0.5rem #0007;
}

.dig-popup.near-left-edge {
  transform: unset;
  left: -2rem;
}

.dig-popup.near-right-edge {
  transform: unset;
  left: unset;
  right: -2rem;
}

.dig-popup button {
  white-space: nowrap;
  padding: 0;
  border: none;
  width: 3rem;
  height: 3rem;
}

.dig-popup button img {
  width: 100%;
  height: 100%;
}

.dig-popup button:hover {
  outline: 2px solid white;
  z-index: 1;
}

@media screen and (orientation: portrait) {
  body {
    flex-direction: column-reverse;
  }

  #side-panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: none;
    width: unset;
    border-bottom: 0.5rem solid var(--green-3);
  }

  #new-game-section {
    position: absolute;
    display: none;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 15rem;
    background-color: var(--green-1);
  }

  #new-game-section.open {
    display: flex;
  }

  #new-game-mobile-button {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 33rem) {
  h1 {
    display: none;
  }
}
